@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


*{
  padding : 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}

/* --------------------
   MOBILE FIX
-------------------- */
@media (max-width: 768px) {
  .app {
    width: 100%;
    padding: 0 12px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}